table {
    border: 1px solid #000;
}
a {
    background: cornflowerblue;
    padding: 3px 5px;
    margin: 10px;
    box-shadow: 1px 1px;
}

a:hover {
    background: darkorchid;
    color: #fff;
    box-shadow: 1px 1px;
}