.bg-img-fs{
    background: url("../img/fondo2.jpg");
    background-size: cover;    
    background-position: center;
}

#cardLogin{
    border: 5px solid rgb(61, 21, 95) !important;
    border-radius: 12px;
}