table{
    box-sizing: border-box;
    border: 1px solid #777;
}
table th{
    padding: 3px;
    width: max-content;
    border:1px solid #777;
}
table tr td{
    padding: 3px;
    border: 1px solid #777;
    
    border-collapse: collapse;    
}

a {
    background: cornflowerblue;
    padding: 3px 5px;
    margin: 10px;
    box-shadow: 1px 1px;
}

a:hover {
    background: darkorchid;
    color: #fff;
    box-shadow: 1px 1px;
}